# configure file for compiler
.config

# temporary files
*~
*.output
*.out
*.o

# log
log
*.log

# vim
*.swp

# intermediate files of clang and llvm
*.bc
*.ll
*.s

# generated programs
*.exe

# Mac OS files
.DS_Store

# Catalog
*.catalog

# record
*.record

# cat
*.cat

# minisql execute
minisql

# test sql
*.sql
